# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
out/
dist/
build/

# Submodules
content/challenges/

# Environment files
.env
.env.*

# Other
public/sw.js
public/workbox-*.js
public/fallback-*.js
